/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 600px;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Barra de navegación */
.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: background-color 0.3s ease;
  border-radius: 50px;
}

.navbar .logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar .buttons {
  display: flex;
  gap: 10px;
}

.navbar .buttons button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

/* Modo día y modo noche */
.night-mode {
  background-color: #333;
  color: #fff;
}

.night-mode .navbar {
  background-color: #fff;
}

.night-mode .navbar .logo {
  color: #333;
}

/* Lista de tareas */
.task-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.task-item:hover {
  background-color: #f5f5f5;
}

.task-item .task-text {
  font-size: 18px;
  margin-right: 10px;
}

.task-item .delete-button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50%;
}

.task-item .delete-button:hover {
  background-color: #ff1a1a;
}

.task-item .timer-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.task-item .task-timer {
  font-size: 14px;
  margin-right: 10px;
}

.task-item .task-button {
  background-color: #4d79ff;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50%;
}

.task-item .task-button:not(:first-child) {
  margin-left: 5px;
}

.task-item .task-button:hover {
  background-color: #1a53ff;
}

/* Animaciones */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
